body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: dimgray;

}

div.body {
    box-shadow: 6px 6px rgb(70, 71, 71);
    border: 3px solid rgb(26, 25, 25);
    background-color: rgb(184, 190, 204);
    padding: 30px
}

.but {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px rgb(20, 20, 20);
}


.but:hover {
    background-color: #3e8e41
}

.but:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
}

th,
td {
    padding: 4px;
}

h3{
    border: 2px solid rgb(8, 62, 94);
    background-color: #136399;

}